streamlit
pandas
numpy
scipy
matplotlib
nltk
spacy
scikit-learn
pyLDAvis
joblib
kagglehub
protobuf<=5.29.0
stopwords
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
